.articles {
  max-width: 90vw;
  width: 100%;

  &__page-nb {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    svg {
      height: 12px;
      width: 12px;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(65rem, 1fr));
  }
}

@media (max-width: 1490px) {
  .articles {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
    }
  }
}

@media (max-width: 700px) {
  .articles {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }
}

@media (max-width: 387px) {
  .articles {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
}
