$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$border-radius: 25px;
$border: 2px solid black;
$border2: 1.5px solid #e3e3e3;

$white: white;
$black: black;
$grey1: #f4f4f4;
$grey2: #f0f0f0;
$grey3: #d9d9d9;
$grey4: #cdcdcd;
$grey5: #989898;
$grey6: #8f8f8f;
$grey7: rgb(66, 66, 66);
$green: #7fffd4;
$green2: rgb(171, 255, 227);
$yellow: #ffb800;
$red: rgb(255, 89, 89);
$red2: rgb(255, 138, 138);
$gradient1: radial-gradient(
    60.58% 187.58% at -12.41% 3.23%,
    rgba(45, 215, 184, 0.2) 0%,
    rgba(181, 99, 163, 0.2) 23.89%,
    rgba(181, 223, 215, 0.2) 50.38%,
    rgba(105, 190, 175, 0.2) 100%
  ),
  linear-gradient(236.79deg, rgba(58, 149, 169, 0.2) 18.09%, rgba(211, 117, 255, 0.2) 69.78%),
  linear-gradient(105.17deg, #ffffff -5.73%, #ffe9fa 98.93%);
$gradient2: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
